{% extends 'base.html' %}

{% block header %}
<div class="alert alert-primary" role="alert">
    <h3>detail page</h3>
</div>
{% endblock header %}


{% block content %}
<!-- user.is_authenticatedでログイン状況を確認。ログイン時はTrueを返す -->
{% if user.is_authenticated %}
<div class="container">
    <div class="alert alert-success" role="alert">
        <p>タイトル：{{ object.title }}</p>
        <p>投稿者：{{ object.author }}</p>
        <!-- .urlで対象画像のURLを持ってくる -->
        <p><img src="{{ object.snsimage.url }}" width="300"></p>

        <a href="{% url 'good' object.pk %}" class="btn btn-primary" role="button" aria-pressed="true">いいねする</a>
        <a href="#" class="btn btn-secondary" role="button" aria-pressed="true">既読する</a>
    </div>
</div>
{% else %}
please login
{% endif %}
{% endblock content %}