{% extends 'base.html' %}

{% block header %}
<div class="alert alert-primary" role="alert">
    <h3>board</h3>
</div>
{% endblock header %}


{% block content %}
<!-- user.is_authenticatedでログイン状況を確認。ログイン時はTrueを返す -->
{% if user.is_authenticated %}
<div class="container">
    {% for item in object_list %}
    <div class="alert alert-success" role="alert">
        <p>タイトル：<a href="{% url 'detail' item.pk %}">{{ item.title }}</a></p>
        <p>投稿者：{{ item.author }}</p>
        <a href="#" class="btn btn-primary" role="button" aria-pressed="true">Primary link</a>
        <a href="#" class="btn btn-secondary" role="button" aria-pressed="true">Link</a>
    </div>
    {% endfor %}
    <a href="{% url 'logout' %}" class="btn btn-primary" role="button" aria-pressed="true">log out</a>
</div>
{% else %}
please login
{% endif %}
{% endblock content %}